extends header

block content
  body
    for info in book
      object.defaultDetailsImage(data="https://s-media-cache-ak0.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png")
        img(src= info.image)
      .details
        .author()= info.author
        .title()= info.title
        .genre()= info.genre
        .description()= info.description
      form(method="post" action=`/deleteBook/${info.id}`) 
        button(type="submit") Delete
      form(method="put" action=`/updateBook/${info.id}`)
        button(type="submit") Edit